@media screen and (min-width: 480px) {

    .container {
        width: 448px;
        padding: 0px;
    }

    .section {
        max-width: 100%;
        padding: 60px 15px;
    }

    .top-banner-list,
    .team-list {
        flex-wrap: wrap;
    }

    .top-banner {
        .top-banner-title {
            font-size: 26px;
            line-height: 1.61;
        }
    }

    .team-list-item {
        justify-content: center;
        width: 100%;

        .team-member-pic {
            width: 100%;
        }
    }

    .customers-list {
        flex-wrap: wrap;
        justify-content: center;

        .customers-item {
            //width: calc((100%-60px) / 2);
        }
    }

    .footer {
        .container, .subscrition-email-form {
            flex-wrap: wrap;
            justify-content: center;

        }
       .footer-input{
        width: 100%;
        margin-bottom: 20px;
       }
           .subscription-title{
            text-align: center;
           }
    }
}