.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
}

.activity {
    padding-top: 0;
}


.activity-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;

}

.activity-list-item {
    list-style: none;
    position: relative;
}

.activity-text {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white);
}