.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey);
    transition: color var(--trans-n-250);
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        color: var(--blue);
        transition: color var(--trans-n-250);
    }
}



.contact .icon-envelope,
.contact .icon-smartphone {
    fill: var(--grey);
    margin-right: 10px;
    transition: fill var(--trans-n-250), background-color var(--trans-n-250);
}

.contact:hover .icon-envelope,
.contact:focus .icon-envelope,
.contact:hover .icon-smartphone,
.contact:focus .icon-smartphone {
    fill: var(--blue);
    transition: fill var(--trans-n-250), background-color var(--trans-n-250);
}