.footer .container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}
.footer .logo {
    margin-bottom: 20px;
    margin-right: 0;

}

.footer .studio {
    color: var(--white);

}
.footer {
    background-color: var(--dark-grey);
    padding: 60px 0px;
}

.footer .contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--mixed);
    transition: color var(--trans-n-250);

}

.footer .contact-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer .contact:hover,
.footer .contact:focus {
    color: var(--blue);
}

.footer .contact-white {
    color: var(--white);
}

.footer .soc-items-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0px 0px 20px;

}

.footer .soc-items {
    display: flex;
    gap: 10px;

}

.footer .soc-icon {
    fill: var(--white);
}

.footer .soc-link {

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: fill var(--trans-n-250), background-color var(--trans-n-250);
}

.footer .soc-link:hover,
.footer .soc-link:focus {
    color: var(--white);
    background: var(--blue);
    transition: color var(--trans-n-250), background-color var(--trans-n-250);
}
.subscription-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;

}

.subscrition-email-form {
    display: flex;
}

.footer-input {
    width: 358px;
    padding: 15px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-grey);
    transition: border-color var(--trans-n-250), outline var(--trans-n-250);

&::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
}



.subsription-button {
    min-width: 200px;
    height: 50px;
    color: var(--white);
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--trans-n-250), box-shadow var(--trans-n-250);

}

.icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--white);
}

.nav-list {
    display: flex;
    gap: 50px;
}


.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-main-color);
    display: block;
    &:hover,
    &:focus,
    &.active {
    color: var(--blue);
    font-size: 14px;
}
    &.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0px;
}
}

.nav-list-item {
    position: relative;
}




