.team {
    background-color: var(--grey-bright);

}

.team-list {
    display: flex;
    gap: 30px;

    @include mobile {
        flex-wrap: wrap;
    }

    @include tablet {
        flex-wrap: wrap;

    }
}

.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);

    @include mobile {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    @include tablet {
        width: calc((100% - 30px) / 2);

    }

    @include desktop {
        width: calc((100% - 90px) / 4);

    }
}

.team-title {
    margin-bottom: 50px;

    @include mobile {
        font-size: 28px;
    }
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);

}

.team-member-pic {
    display: block;

    @include mobile {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

.team-member-description {
    padding: 30px 0px;
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-member-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}