:root {
    --blue: #2196f3;
    --white: #ffffff;
    --mixed: rgba(255, 255, 255, 0.6);
    --text-main-color: #212121;
    --grey: #757575;
    --grey-bright: #f5f4fa;
    --dark-grey: #2f303a;
    --trans-n-250: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





